a(href="/charts"): button(type="button") xApp charts
a(href="/xapps"): button(type="button") Deployed xApps
a(href="/appmgr"): button(type="button") appmgr
a(href="/ric"): button(type="button") RIC Info
a(href="/e2mgr"): button(type="button") E2 Status
a(href="/e2sim"): button(type="button") E2 Sim
a(href="/pods"): button(type="button") Pods
a(href="/services"): button(type="button") Services
a(href="/deployments"): button(type="button") Deployments
a(href="/deploy"): button(type="button") Deploy
a(href="/undeploy"): button(type="button") Un-Deploy
a(href="/srs"): button(type="button") SRS