doctype html
html
  head
    title EPC
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js') // Include Axios library
  body
    h2 OAIC RIC
    include buttons.jade
    h2= title
    .row
        .column
            p EPC
            pre#epc

    script.
      // Function to fetch data from API endpoints and update columns
      function fetchDataAndUpdate() {

        ["epc"].forEach( elem => {
            axios.get('/srs/' + elem)
          .then(response => {
            element = document.getElementById(elem);
            element.innerText = response.data;
            element.scrollTop = element.scrollHeight;
          })
          .catch(error => {
            console.error(`Error fetching data for ${elem}:`, error);
          });
        })
    
      }

      fetchDataAndUpdate();