doctype html
html
  head
    title RIC
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js') // Include Axios library
    script(src='https://cdn.jsdelivr.net/npm/apexcharts') // Include Apex Charts library
  body
    h2 OAIC RIC
    include buttons.jade
    h2= title
    //- .row 
    //-   .column
    p ue_0
    .chart#chart0
    p ue_1
    .chart#chart1
      //-   p ue_2
      //-   .chart#chart2
      //-   p ue_4
      //-   .chart#chart4
      //- .column
      //-   p ue_1
      //-   .chart#chart1
      //-   p ue_3
      //-   .chart#chart3
      //-   p ue_5
      //-   .chart#chart5
    script.
      function fetchDataAndUpdateChart() {
      // Make API call to fetch data
      fetch('chart')
          .then(response => response.json())
          .then(data => {
            for (let i = 0 ; i < charts.length ; i++) {
              charts[i].updateSeries(data[i]);
            }
          })
          .catch(error => console.error('Error fetching data:', error));
      }
  
      // Create initial chart configuration
      const options = {
        chart: {
            type: 'line',
            height: 200,
            animations: {
                enabled: false
            },
            toolbar: { show: false },
        },
        stroke: {
            curve: 'smooth'
        },
        series: [{ data: [] }],
        xaxis: {
            categories: [],
            labels: {
              show: false
            }
        },    
        //- yaxis: {
        //-   min: 0,
        //-   max: 10,
        //-   tickAmount: 1,
        //- }
      };
  
      // Create chart instance
      const charts = [
        new ApexCharts(document.querySelector("#chart0"), options),
        new ApexCharts(document.querySelector("#chart1"), options),
        //- new ApexCharts(document.querySelector("#chart2"), options),
        //- new ApexCharts(document.querySelector("#chart3"), options),
        //- new ApexCharts(document.querySelector("#chart4"), options),
        //- new ApexCharts(document.querySelector("#chart5"), options)
      ]
      // Render charts
      charts.forEach(chart => {
        chart.render();
      });

      // Fetch data and update chart every second
      fetchDataAndUpdateChart(); // Initial fetch
      setInterval(fetchDataAndUpdateChart, 500); // Fetch every second