doctype html
html
  head
    title RIC
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js') // Include Axios library
    script(src='https://cdn.jsdelivr.net/npm/apexcharts') // Include Apex Charts library
  body
    h2 OAIC RIC
    include buttons.jade
    h2= title
    .chart#chart0
    .chart#chart1
    .chart#chart2
    .chart#chart3
    .chart#chart4
    .chart#chart5
    script.
      function fetchDataAndUpdateChart() {
        // Make API call to fetch data
        fetch('chart')
          .then(response => response.json())
          .then(data => {
            for (let i = 0 ; i < charts.length ; i++) {
              charts[i].updateSeries(data[i]);
            }
          })
          .catch(error => console.error('Error fetching data:', error));
      }
  
      // Create initial chart configuration
      const options = {
        chart: {
            type: 'line',
            height: 100,
            width: 400,
            animations: {
                enabled: false
            },
            toolbar: { show: false },
        },
        stroke: {
            curve: 'smooth',
            width: 1
        },
        series: [{ data: [] }],
        xaxis: {
            categories: [],
            labels: {
              show: false
            }
        }
      };
  
      // Create chart instance
      const charts = [
        new ApexCharts(document.querySelector("#chart0"), options),
        new ApexCharts(document.querySelector("#chart1"), options),
        new ApexCharts(document.querySelector("#chart2"), options),
        new ApexCharts(document.querySelector("#chart3"), options),
        new ApexCharts(document.querySelector("#chart4"), options),
        new ApexCharts(document.querySelector("#chart5"), options)
      ]
      // Render charts
      charts.forEach(chart => {
        chart.render();
      });

      // Fetch data and update chart every second
      fetchDataAndUpdateChart(); // Initial fetch
      setInterval(fetchDataAndUpdateChart, 500); // Fetch every second