doctype html
html
  head
    title RIC
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.js') // p5js library
    
  body
    script(src='/javascripts/sketch.js')
      
