html {
  height: 100%;
}

body {
  height: 80%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
  margin: 0px 2px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px 10px 3px 10px;
}

.column {
  flex: 1;
  margin: 10px;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  height: 700px;
  overflow: scroll;
}

.col-1 {
  flex: 1;
  margin: 10px;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: scroll;
}

.col-2 {
  flex: 1 0 calc(90% / 2);
  max-width: calc(90% / 2);
  margin: 10px;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: scroll;
}

.col-5 {
  flex: 1 0 calc(90% / 5);
  max-width: calc(90% / 5);
  margin: 10px;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: scroll;
}

.column > p {
  text-align: center;
  font-size: large;
  margin-bottom: -10px;
  margin-top: -10px;
}

.column > pre {
  overflow: scroll;
  height: 100%;
}

.col-1 > pre {
  height: 650px;
}

.col-2 > pre {
  height: 650px;
}

.col-5 > pre {
  height: 650px;
}

.column > pre::-webkit-scrollbar {
  display: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

canvas {
  display: block;
}

/* Style for tabs */
.tab {
  display: none;
}
.tab.active {
  display: block;
}
/* Style for tab buttons */
.tab-button {
  cursor: pointer;
}

.tab-button.active {
  background-color: #ccc; /* Change the background color for active state */
}

.chart {
  margin: 0;
  padding: 0;
}

.apexchart-canvas {
  margin: 0;
  padding: 0;
}

#p5js {
  float: left;
  width: 1100px;
}
