body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
  margin: 0px 2px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px 10px 3px 10px;
}